/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

body {
margin: 0px;
padding: 0px;
background-color: #F2F1E8;
color: #131511;
}

.pageheader {
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: center;
background-color:   #FFFFFF;
padding: 20px;
border-bottom: solid  #FFFFFF;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  font-size: 25px;
}

.nav-bar a{
  color: #2B2F26;
}
.nav-bar a:hover{
  color:#967343;
}
img {
  padding-right: 23%;
  height: 40px;
  width: 40px;
}
.heading{
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
form {
  width: 50%;
  height: 50%;
  padding: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

h1{
  font-size: 40px;
}
p{
  font-size: 30px;
  font-weight: lighter;
}

.mainname {
  margin: 0 auto;
  text-align: left;
  border-color: #968772;
  border-width: 2px;
  font-size: 25px;

}
.mainemail{
  margin: 0px auto;
  text-align: left;
  border-color: #968772;
  border-width: 2px;
  font-size: 25px;

}
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #968772;
}
input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #968772;
}

#signupButton {
  background-color: #968772;
  padding: 20px 35px 20px 35px;
  margin: 0px auto;
  color: #F2F1E8;
  font-size: 20px;
}

#signupButton:hover {
  background-color: #967343;
  color: #FFFFFF;
}
